body{
    margin: 3%;
    padding: 3%;
    background-color: rgb(2, 39, 19);
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
}
.header, .form{    
    margin-left: 100px;
    margin-right: 100px
}
h1{
    color: rgb(219, 99, 20);
}
p{
    text-align: justify;
    color: rgb(218, 164, 15);
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}