<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>SDDDS</title>
</head>
<body>
    <div class="header">
        <h1 class="sddds">
            Stray Dogs Detection System
        </h1>
        <p class="info">
            Stray Dogs detection system to monitor stray dogs population in the city.
        </p>        
    </div>
    <div class="form">
        <form action="/model_prediction" method="post" enctype="multipart/form-data">
            <label for="fileUpload">Select a file:</label>
            <input type="file" id="file_upload" name="file" accept="image/*, video/*">
            <input type="submit" value="Upload">
        </form>
    </div>
    
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
